<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Radian_Training_Database.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Radian_Training_Database.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>radiantraining</value>
            </setting>
            <setting name="PicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CertPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NationalIDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DriversPermitPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PassportPath" serializeAs="String">
                <value />
            </setting>
        </Radian_Training_Database.My.MySettings>
    </userSettings>
</configuration>