<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Radian_Training_Database.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Radian_Training_Database.My.MySettings.radiantrainingConnectionString"
            connectionString="user id=root;server=localhost;persistsecurityinfo=True;database=radiantraining"
            providerName="MySql.Data.MySqlClient" />
        <add name="Radian_Training_Database.My.MySettings.radiantrainingConnectionString1"
            connectionString="user id=root;password=root;server=localhost;persistsecurityinfo=True;database=radiantraining"
            providerName="MySql.Data.MySqlClient" />
        <add name="Radian_Training_Database.My.MySettings.radiantrainingConnectionString2"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=radiantraining"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Radian_Training_Database.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>radiantraining</value>
            </setting>
            <setting name="PicturePath" serializeAs="String">
                <value>Z:\TrainingDatabase\StudentPics</value>
            </setting>
            <setting name="CertPath" serializeAs="String">
                <value>Z:\TrainingDatabase\StudentCertificates</value>
            </setting>
            <setting name="NationalIDPath" serializeAs="String">
                <value>Z:\TrainingDatabase\NationalID</value>
            </setting>
            <setting name="DriversPermitPath" serializeAs="String">
                <value>Z:\TrainingDatabase\DriversPermit</value>
            </setting>
            <setting name="PassportPath" serializeAs="String">
                <value>Z:\TrainingDatabase\Passport</value>
            </setting>
        </Radian_Training_Database.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>